body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6118 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u6119 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u6120 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u6121 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u6122 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u6123 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u6124 {
  position:absolute;
  left:70px;
  top:14px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u6125 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:910px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6126 {
  position:absolute;
  left:40px;
  top:238px;
  width:546px;
  height:910px;
}
#u6127 {
  position:absolute;
  left:2px;
  top:447px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6128 {
  position:absolute;
  left:51px;
  top:196px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6129 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:66px;
}
#u6130 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:66px;
  opacity:0.5;
}
#u6131 {
  position:absolute;
  left:2px;
  top:25px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:38px;
}
#u6132 {
  position:absolute;
  left:40px;
  top:244px;
  width:546px;
  height:38px;
}
#u6133 {
  position:absolute;
  left:2px;
  top:11px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6134 {
  position:absolute;
  left:263px;
  top:200px;
  width:100px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6135 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6136 {
  position:absolute;
  left:70px;
  top:254px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6137 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:183px;
}
#u6138 {
  position:absolute;
  left:51px;
  top:292px;
  width:524px;
  height:183px;
}
#u6139 {
  position:absolute;
  left:2px;
  top:84px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6140 {
  position:absolute;
  left:66px;
  top:298px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6141 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6142 {
  position:absolute;
  left:543px;
  top:195px;
  width:32px;
  height:32px;
}
#u6143 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6144 {
  position:absolute;
  left:491px;
  top:195px;
  width:32px;
  height:32px;
}
#u6145 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6146 {
  position:absolute;
  left:213px;
  top:254px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u6147 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6148 {
  position:absolute;
  left:341px;
  top:254px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6149 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6150 {
  position:absolute;
  left:484px;
  top:254px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6151 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6152_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:92px;
  height:5px;
}
#u6152 {
  position:absolute;
  left:57px;
  top:280px;
  width:89px;
  height:2px;
}
#u6153 {
  position:absolute;
  left:2px;
  top:-7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6154 {
  position:absolute;
  left:57px;
  top:334px;
  width:492px;
  height:87px;
}
#u6155 {
  position:absolute;
  left:2px;
  top:36px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:88px;
}
#u6156 {
  position:absolute;
  left:57px;
  top:334px;
  width:105px;
  height:87px;
}
#u6157 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
}
#u6158 {
  position:absolute;
  left:172px;
  top:344px;
  width:380px;
  height:35px;
  font-size:14px;
}
#u6159 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u6160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
}
#u6160 {
  position:absolute;
  left:172px;
  top:389px;
  width:93px;
  height:18px;
  font-size:14px;
}
#u6161 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u6162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3300;
}
#u6162 {
  position:absolute;
  left:446px;
  top:431px;
  width:103px;
  height:32px;
  color:#CC3300;
}
#u6163 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u6164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:207px;
}
#u6164 {
  position:absolute;
  left:51px;
  top:501px;
  width:524px;
  height:207px;
}
#u6165 {
  position:absolute;
  left:2px;
  top:96px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6166 {
  position:absolute;
  left:66px;
  top:507px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6167 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6168 {
  position:absolute;
  left:525px;
  top:517px;
  width:16px;
  height:16px;
}
#u6169 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6170 {
  position:absolute;
  left:57px;
  top:543px;
  width:492px;
  height:87px;
}
#u6171 {
  position:absolute;
  left:2px;
  top:36px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:88px;
}
#u6172 {
  position:absolute;
  left:57px;
  top:543px;
  width:105px;
  height:87px;
}
#u6173 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
}
#u6174 {
  position:absolute;
  left:172px;
  top:553px;
  width:380px;
  height:35px;
  font-size:14px;
}
#u6175 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u6176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u6176 {
  position:absolute;
  left:172px;
  top:598px;
  width:93px;
  height:23px;
}
#u6177 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u6178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u6178 {
  position:absolute;
  left:376px;
  top:640px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u6179 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u6180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6180 {
  position:absolute;
  left:311px;
  top:668px;
  width:103px;
  height:32px;
}
#u6181 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u6182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3300;
}
#u6182 {
  position:absolute;
  left:438px;
  top:668px;
  width:103px;
  height:32px;
  color:#CC3300;
}
#u6183 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u6184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:207px;
}
#u6184 {
  position:absolute;
  left:51px;
  top:717px;
  width:524px;
  height:207px;
}
#u6185 {
  position:absolute;
  left:2px;
  top:96px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6186 {
  position:absolute;
  left:66px;
  top:724px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6187 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6188 {
  position:absolute;
  left:525px;
  top:734px;
  width:16px;
  height:16px;
}
#u6189 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6190 {
  position:absolute;
  left:57px;
  top:760px;
  width:492px;
  height:87px;
}
#u6191 {
  position:absolute;
  left:2px;
  top:36px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:88px;
}
#u6192 {
  position:absolute;
  left:57px;
  top:771px;
  width:105px;
  height:87px;
}
#u6193 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
}
#u6194 {
  position:absolute;
  left:172px;
  top:770px;
  width:380px;
  height:35px;
  font-size:14px;
}
#u6195 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u6196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u6196 {
  position:absolute;
  left:172px;
  top:815px;
  width:93px;
  height:23px;
}
#u6197 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u6198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u6198 {
  position:absolute;
  left:376px;
  top:857px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u6199 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u6200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3300;
}
#u6200 {
  position:absolute;
  left:438px;
  top:885px;
  width:103px;
  height:32px;
  color:#CC3300;
}
#u6201 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u6202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:207px;
}
#u6202 {
  position:absolute;
  left:51px;
  top:934px;
  width:524px;
  height:207px;
}
#u6203 {
  position:absolute;
  left:2px;
  top:96px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6204 {
  position:absolute;
  left:66px;
  top:940px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6205 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6206 {
  position:absolute;
  left:525px;
  top:950px;
  width:16px;
  height:16px;
}
#u6207 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6208 {
  position:absolute;
  left:57px;
  top:976px;
  width:492px;
  height:87px;
}
#u6209 {
  position:absolute;
  left:2px;
  top:36px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:88px;
}
#u6210 {
  position:absolute;
  left:57px;
  top:976px;
  width:105px;
  height:87px;
}
#u6211 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
}
#u6212 {
  position:absolute;
  left:172px;
  top:986px;
  width:380px;
  height:35px;
  font-size:14px;
}
#u6213 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u6214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u6214 {
  position:absolute;
  left:172px;
  top:1031px;
  width:93px;
  height:23px;
}
#u6215 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u6216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u6216 {
  position:absolute;
  left:376px;
  top:1073px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u6217 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u6218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3300;
}
#u6218 {
  position:absolute;
  left:438px;
  top:1101px;
  width:103px;
  height:32px;
  color:#CC3300;
}
#u6219 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
