body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1547px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:651px;
  width:1351px;
  height:1037px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:1037px;
}
#u1 {
  position:absolute;
  left:2px;
  top:510px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1096px;
  width:1366px;
  height:425px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:425px;
}
#u3 {
  position:absolute;
  left:2px;
  top:204px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:158px;
  width:1340px;
  height:500px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:500px;
}
#u5 {
  position:absolute;
  left:2px;
  top:242px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:487px;
  top:174px;
  width:1063px;
  height:506px;
  opacity:0.200000002980232;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1063px;
  height:506px;
}
#u7 {
  position:absolute;
  left:2px;
  top:245px;
  width:1059px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:32px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:32px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:1350px;
  height:78px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:78px;
}
#u12 {
  position:absolute;
  left:2px;
  top:31px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1196px;
  top:0px;
  width:154px;
  height:32px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:27px;
  width:150px;
  height:80px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u16 {
  position:absolute;
  left:2px;
  top:32px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1135px;
  top:63px;
  width:77px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#129BD3;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:204px;
  top:51px;
  width:129px;
  height:37px;
  color:#129BD3;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:890px;
  top:24px;
  width:460px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u22 {
  position:absolute;
  left:70px;
  top:4px;
  width:129px;
  height:15px;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:209px;
  top:4px;
  width:27px;
  height:15px;
  color:#0000FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:269px;
  top:5px;
  width:27px;
  height:15px;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:246px;
  top:5px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:905px;
  top:8px;
  width:73px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:995px;
  top:8px;
  width:60px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1065px;
  top:8px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:1135px;
  top:8px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:776px;
  top:254px;
  width:284px;
  height:72px;
  font-size:50px;
  color:#3FCF91;
  line-height:72px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:72px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:-3px;
  top:682px;
  width:1366px;
  height:406px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:406px;
}
#u41 {
  position:absolute;
  left:2px;
  top:195px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:1530px;
  width:1351px;
  height:173px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:173px;
}
#u44 {
  position:absolute;
  left:2px;
  top:78px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:82px;
  top:1580px;
  width:998px;
  height:123px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:123px;
}
#u46 {
  position:absolute;
  left:2px;
  top:54px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:401px;
  top:1580px;
  width:500px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:283px;
  top:1541px;
  width:63px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:383px;
  top:1541px;
  width:60px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:356px;
  top:1542px;
  width:10px;
  height:15px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u54 {
  position:absolute;
  left:479px;
  top:1541px;
  width:60px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:459px;
  top:1542px;
  width:10px;
  height:14px;
}
#u56_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u56_end {
  position:absolute;
  left:-5px;
  top:-3px;
  width:20px;
  height:18px;
}
#u56_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:14px;
}
#u57 {
  position:absolute;
  left:576px;
  top:1541px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:556px;
  top:1541px;
  width:10px;
  height:15px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u60 {
  position:absolute;
  left:683px;
  top:1541px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:663px;
  top:1542px;
  width:10px;
  height:15px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u62_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u63 {
  position:absolute;
  left:789px;
  top:1541px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:766px;
  top:1542px;
  width:10px;
  height:15px;
}
#u65_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u65_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u65_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u66 {
  position:absolute;
  left:996px;
  top:1541px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:869px;
  top:1542px;
  width:10px;
  height:15px;
}
#u68_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u68_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u69 {
  position:absolute;
  left:976px;
  top:1541px;
  width:10px;
  height:15px;
}
#u69_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u69_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u69_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u70 {
  position:absolute;
  left:889px;
  top:1541px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:79px;
  top:731px;
  width:438px;
  height:309px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:309px;
}
#u73 {
  position:absolute;
  left:2px;
  top:146px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:550px;
  top:784px;
  width:204px;
  height:84px;
  font-size:16px;
  line-height:28px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:84px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:839px;
  top:401px;
  width:67px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:916px;
  top:401px;
  width:67px;
  height:30px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:993px;
  top:401px;
  width:67px;
  height:30px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:839px;
  top:441px;
  width:67px;
  height:30px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:916px;
  top:441px;
  width:67px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:993px;
  top:441px;
  width:67px;
  height:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:835px;
  top:350px;
  width:221px;
  height:30px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1027px;
  top:356px;
  width:20px;
  height:20px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:839px;
  top:481px;
  width:67px;
  height:30px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:550px;
  top:1216px;
  width:204px;
  height:84px;
  font-size:16px;
  line-height:28px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:84px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:640px;
  top:1276px;
  width:720px;
  height:164px;
  font-size:16px;
  line-height:28px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:164px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:630px;
  top:842px;
  width:720px;
  height:148px;
  font-size:16px;
  line-height:28px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:148px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:108px;
  width:1350px;
  height:50px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:50px;
}
#u102 {
  position:absolute;
  left:2px;
  top:17px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:90px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:210px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:330px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:451px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:691px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:571px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:79px;
  top:250px;
  width:622px;
  height:353px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:353px;
}
#u116 {
  position:absolute;
  left:2px;
  top:168px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:550px;
  top:730px;
  width:241px;
  height:36px;
  font-size:30px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:550px;
  top:1153px;
  width:241px;
  height:36px;
  font-size:30px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:550px;
  top:990px;
  width:258px;
  height:50px;
  font-size:24px;
  color:#129BD3;
  text-align:right;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:50px;
}
#u122 {
  position:absolute;
  left:2px;
  top:11px;
  width:254px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:566px;
  top:1004px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u124 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:578px;
  top:996px;
  width:5px;
  height:30px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:550px;
  top:1424px;
  width:258px;
  height:50px;
  font-size:24px;
  color:#129BD3;
  text-align:right;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:50px;
}
#u128 {
  position:absolute;
  left:2px;
  top:11px;
  width:254px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:566px;
  top:1439px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u130 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:579px;
  top:1430px;
  width:5px;
  height:30px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:79px;
  top:1163px;
  width:438px;
  height:309px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:309px;
}
#u134 {
  position:absolute;
  left:2px;
  top:146px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:202px;
  top:150px;
  width:70px;
  height:8px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:8px;
}
#u136 {
  position:absolute;
  left:2px;
  top:-4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:776px;
  top:606px;
  width:110px;
  height:45px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u138 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:786px;
  top:616px;
  width:73px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:910px;
  top:606px;
  width:125px;
  height:45px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u142 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:942px;
  top:616px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:776px;
  top:341px;
  width:68px;
  height:48px;
  font-size:20px;
  color:#129BD3;
  line-height:48px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:48px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:773px;
  top:389px;
  width:66px;
  height:48px;
  font-size:20px;
  color:#129BD3;
  line-height:48px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:48px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:776px;
  top:522px;
  width:261px;
  height:73px;
  font-size:36px;
  color:#129BD3;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:73px;
}
#u150 {
  position:absolute;
  left:2px;
  top:16px;
  width:257px;
  word-wrap:break-word;
}
