body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:685px;
}
#u967 {
  position:absolute;
  left:0px;
  top:592px;
  width:1140px;
  height:685px;
}
#u968 {
  position:absolute;
  left:2px;
  top:334px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  position:absolute;
  left:691px;
  top:425px;
  width:35px;
  height:28px;
}
#u970 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:71px;
}
#u972 {
  position:absolute;
  left:0px;
  top:70px;
  width:1140px;
  height:71px;
}
#u973 {
  position:absolute;
  left:2px;
  top:28px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:70px;
  background:inherit;
  background-color:rgba(39, 189, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:70px;
}
#u975 {
  position:absolute;
  left:10px;
  top:10px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u976 {
  position:absolute;
  left:933px;
  top:7px;
  width:98px;
  height:57px;
}
#u977 {
  position:absolute;
  left:2px;
  top:20px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:72px;
}
#u978 {
  position:absolute;
  left:112px;
  top:70px;
  width:200px;
  height:71px;
}
#u979 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u980 {
  position:absolute;
  left:811px;
  top:14px;
  width:107px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u982 {
  position:absolute;
  left:945px;
  top:14px;
  width:50px;
  height:44px;
  color:#27BDBE;
}
#u983 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#27BDBE;
}
#u984 {
  position:absolute;
  left:1005px;
  top:22px;
  width:15px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#27BDBE;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u986 {
  position:absolute;
  left:780px;
  top:39px;
  width:82px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u988 {
  position:absolute;
  left:112px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u990 {
  position:absolute;
  left:313px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u992 {
  position:absolute;
  left:414px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u994 {
  position:absolute;
  left:514px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u996 {
  position:absolute;
  left:212px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u998 {
  position:absolute;
  left:870px;
  top:39px;
  width:54px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:2px;
}
#u1000 {
  position:absolute;
  left:112px;
  top:140px;
  width:919px;
  height:1px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002 {
  position:absolute;
  left:632px;
  top:92px;
  width:315px;
  height:38px;
}
#u1002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1002_input {
  font-family:'Microsoft YaHei UI';
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1003 {
  position:absolute;
  left:635px;
  top:96px;
  width:28px;
  height:28px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1005 {
  position:absolute;
  left:947px;
  top:92px;
  width:84px;
  height:38px;
  color:#FFFFFF;
}
#u1006 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
}
#u1007 {
  position:absolute;
  left:112px;
  top:151px;
  width:300px;
  height:15px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:70px;
}
#u1009 {
  position:absolute;
  left:613px;
  top:197px;
  width:418px;
  height:70px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
}
#u1011 {
  position:absolute;
  left:613px;
  top:252px;
  width:47px;
  height:14px;
  font-size:12px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u1013 {
  position:absolute;
  left:688px;
  top:340px;
  width:87px;
  height:15px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1015 {
  position:absolute;
  left:613px;
  top:338px;
  width:16px;
  height:16px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
}
#u1017 {
  position:absolute;
  left:614px;
  top:287px;
  width:300px;
  height:38px;
  font-size:16px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u1019 {
  position:absolute;
  left:614px;
  top:287px;
  width:135px;
  height:14px;
  font-size:14px;
  line-height:14px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:2px;
}
#u1021 {
  position:absolute;
  left:617px;
  top:294px;
  width:57px;
  height:1px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:-8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1023 {
  position:absolute;
  left:112px;
  top:197px;
  width:32px;
  height:32px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1025 {
  position:absolute;
  left:112px;
  top:239px;
  width:32px;
  height:32px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1027 {
  position:absolute;
  left:112px;
  top:281px;
  width:32px;
  height:32px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1029 {
  position:absolute;
  left:112px;
  top:323px;
  width:32px;
  height:32px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1031 {
  position:absolute;
  left:112px;
  top:365px;
  width:32px;
  height:32px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1033 {
  position:absolute;
  left:112px;
  top:407px;
  width:32px;
  height:32px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:276px;
}
#u1035 {
  position:absolute;
  left:180px;
  top:202px;
  width:382px;
  height:275px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:130px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1037 {
  position:absolute;
  left:180px;
  top:522px;
  width:32px;
  height:32px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u1039 {
  position:absolute;
  left:614px;
  top:433px;
  width:27px;
  height:15px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u1041 {
  position:absolute;
  left:615px;
  top:396px;
  width:27px;
  height:15px;
  font-size:12px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u1043 {
  position:absolute;
  left:691px;
  top:311px;
  width:50px;
  height:19px;
  font-size:16px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u1045 {
  position:absolute;
  left:614px;
  top:365px;
  width:32px;
  height:14px;
  font-size:12px;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1047 {
  position:absolute;
  left:726px;
  top:425px;
  width:41px;
  height:28px;
}
#u1047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1047_input {
  font-family:'Microsoft YaHei UI';
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
}
#u1048 {
  position:absolute;
  left:700px;
  top:435px;
  width:16px;
  height:5px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:767px;
  top:425px;
  width:35px;
  height:28px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1052 {
  position:absolute;
  left:777px;
  top:431px;
  width:16px;
  height:16px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1054 {
  position:absolute;
  left:614px;
  top:471px;
  width:93px;
  height:40px;
  color:#FFFFFF;
}
#u1055 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1056 {
  position:absolute;
  left:719px;
  top:471px;
  width:93px;
  height:40px;
  color:#FFFFFF;
}
#u1057 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1058 {
  position:absolute;
  left:691px;
  top:361px;
  width:92px;
  height:20px;
}
#u1058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1058_input {
  font-family:'Microsoft YaHei UI';
}
#u1058_input:disabled {
  color:grayText;
}
#u1059 {
  position:absolute;
  left:691px;
  top:393px;
  width:92px;
  height:20px;
}
#u1059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1059_input {
  font-family:'Microsoft YaHei UI';
}
#u1059_input:disabled {
  color:grayText;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u1060 {
  position:absolute;
  left:112px;
  top:619px;
  width:300px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:30px;
}
#u1062 {
  position:absolute;
  left:147px;
  top:830px;
  width:862px;
  height:30px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:148px;
}
#u1064 {
  position:absolute;
  left:147px;
  top:647px;
  width:862px;
  height:148px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u1066 {
  position:absolute;
  left:112px;
  top:795px;
  width:300px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u1068 {
  position:absolute;
  left:147px;
  top:1303px;
  width:300px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:119px;
}
#u1070 {
  position:absolute;
  left:147px;
  top:1392px;
  width:747px;
  height:119px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1072 {
  position:absolute;
  left:147px;
  top:1346px;
  width:16px;
  height:16px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1074 {
  position:absolute;
  left:147px;
  top:1366px;
  width:16px;
  height:16px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1076 {
  position:absolute;
  left:161px;
  top:1366px;
  width:16px;
  height:16px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1078 {
  position:absolute;
  left:175px;
  top:1366px;
  width:16px;
  height:16px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1080 {
  position:absolute;
  left:189px;
  top:1366px;
  width:16px;
  height:16px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1082 {
  position:absolute;
  left:203px;
  top:1366px;
  width:16px;
  height:16px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u1084 {
  position:absolute;
  left:163px;
  top:1346px;
  width:63px;
  height:15px;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:119px;
}
#u1086 {
  position:absolute;
  left:147px;
  top:1567px;
  width:747px;
  height:119px;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  word-wrap:break-word;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1088 {
  position:absolute;
  left:147px;
  top:1521px;
  width:16px;
  height:16px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1090 {
  position:absolute;
  left:147px;
  top:1541px;
  width:16px;
  height:16px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1092 {
  position:absolute;
  left:161px;
  top:1541px;
  width:16px;
  height:16px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1094 {
  position:absolute;
  left:175px;
  top:1541px;
  width:16px;
  height:16px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1096 {
  position:absolute;
  left:189px;
  top:1541px;
  width:16px;
  height:16px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1098 {
  position:absolute;
  left:203px;
  top:1541px;
  width:16px;
  height:16px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u1100 {
  position:absolute;
  left:163px;
  top:1521px;
  width:63px;
  height:15px;
}
#u1101 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:119px;
}
#u1102 {
  position:absolute;
  left:147px;
  top:1742px;
  width:747px;
  height:119px;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1104 {
  position:absolute;
  left:147px;
  top:1696px;
  width:16px;
  height:16px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1106 {
  position:absolute;
  left:147px;
  top:1716px;
  width:16px;
  height:16px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1108 {
  position:absolute;
  left:161px;
  top:1716px;
  width:16px;
  height:16px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1110 {
  position:absolute;
  left:175px;
  top:1716px;
  width:16px;
  height:16px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1112 {
  position:absolute;
  left:189px;
  top:1716px;
  width:16px;
  height:16px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1114 {
  position:absolute;
  left:203px;
  top:1716px;
  width:16px;
  height:16px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u1116 {
  position:absolute;
  left:163px;
  top:1696px;
  width:63px;
  height:15px;
}
#u1117 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1118 {
  position:absolute;
  left:379px;
  top:1902px;
  width:20px;
  height:20px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1120 {
  position:absolute;
  left:402px;
  top:1902px;
  width:20px;
  height:20px;
}
#u1121 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1122 {
  position:absolute;
  left:426px;
  top:1902px;
  width:20px;
  height:20px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1124 {
  position:absolute;
  left:449px;
  top:1902px;
  width:20px;
  height:20px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126 {
  position:absolute;
  left:478px;
  top:1901px;
  width:300px;
  height:15px;
}
#u1127 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:2px;
}
#u1128 {
  position:absolute;
  left:112px;
  top:784px;
  width:897px;
  height:1px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:-8px;
  width:893px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:364px;
}
#u1130 {
  position:absolute;
  left:147px;
  top:883px;
  width:835px;
  height:363px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:174px;
  width:831px;
  word-wrap:break-word;
}
#u1133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:199px;
  background:inherit;
  background-color:rgba(39, 189, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133 {
  position:absolute;
  left:0px;
  top:1997px;
  width:1140px;
  height:199px;
}
#u1134 {
  position:absolute;
  left:10px;
  top:10px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1135 {
  position:absolute;
  left:132px;
  top:2032px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1136 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1137 {
  position:absolute;
  left:300px;
  top:2032px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1139 {
  position:absolute;
  left:466px;
  top:2032px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1141 {
  position:absolute;
  left:132px;
  top:2064px;
  width:89px;
  height:100px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1143 {
  position:absolute;
  left:300px;
  top:2064px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1144 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1145 {
  position:absolute;
  left:466px;
  top:2064px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1147 {
  position:absolute;
  left:670px;
  top:2055px;
  width:358px;
  height:82px;
  font-size:14px;
  color:#FFFFFF;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1149 {
  position:absolute;
  left:668px;
  top:2032px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1150 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1151 {
  position:absolute;
  left:670px;
  top:2137px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1152 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1153 {
  position:absolute;
  left:673px;
  top:2160px;
  width:16px;
  height:16px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1155 {
  position:absolute;
  left:706px;
  top:2160px;
  width:16px;
  height:16px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1157 {
  position:absolute;
  left:737px;
  top:2160px;
  width:16px;
  height:16px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u1159 {
  position:absolute;
  left:842px;
  top:2147px;
  width:50px;
  height:33px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u1161 {
  position:absolute;
  left:902px;
  top:2147px;
  width:50px;
  height:33px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u1163 {
  position:absolute;
  left:962px;
  top:2147px;
  width:50px;
  height:33px;
}
#u1164 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1165 {
  position:absolute;
  left:278px;
  top:2207px;
  width:300px;
  height:15px;
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1167 {
  position:absolute;
  left:675px;
  top:2208px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u1168 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1169 {
  position:absolute;
  left:712px;
  top:2206px;
  width:16px;
  height:16px;
}
#u1170 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1171 {
  position:absolute;
  left:738px;
  top:2206px;
  width:16px;
  height:16px;
}
#u1172 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1173 {
  position:absolute;
  left:764px;
  top:2206px;
  width:16px;
  height:16px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1175 {
  position:absolute;
  left:790px;
  top:2206px;
  width:16px;
  height:16px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1177 {
  position:absolute;
  left:816px;
  top:2206px;
  width:16px;
  height:16px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1179 {
  position:absolute;
  left:842px;
  top:2206px;
  width:16px;
  height:16px;
}
#u1180 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
