body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1018px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:75px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:75px;
}
#u1 {
  position:absolute;
  left:2px;
  top:30px;
  width:1014px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:920px;
  top:4px;
  width:95px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u3 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:18px;
  top:10px;
  width:46px;
  height:52px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:52px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:71px;
  top:13px;
  width:129px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:75px;
  width:10px;
  height:637px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:637px;
}
#u9 {
  position:absolute;
  left:2px;
  top:310px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1008px;
  top:75px;
  width:10px;
  height:637px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:637px;
}
#u11 {
  position:absolute;
  left:2px;
  top:310px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:711px;
  width:1018px;
  height:29px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:29px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:1014px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:390px;
  top:715px;
  width:218px;
  height:21px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:21px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:923px;
  top:49px;
  width:66px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:10px;
  top:85px;
  width:992px;
  height:192px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:192px;
}
#u19 {
  position:absolute;
  left:2px;
  top:88px;
  width:988px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:880px;
  top:84px;
  width:109px;
  height:34px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u21 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
