body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2124 {
  position:absolute;
  left:133px;
  top:656px;
  width:926px;
  height:53px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:18px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2126 {
  position:absolute;
  left:133px;
  top:131px;
  width:921px;
  height:456px;
  font-size:12px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:220px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2128 {
  position:absolute;
  left:155px;
  top:198px;
  width:92px;
  height:22px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:199px;
  background:inherit;
  background-color:rgba(39, 189, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2131 {
  position:absolute;
  left:0px;
  top:800px;
  width:1140px;
  height:199px;
}
#u2132 {
  position:absolute;
  left:10px;
  top:10px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2133 {
  position:absolute;
  left:132px;
  top:835px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2135 {
  position:absolute;
  left:300px;
  top:835px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2137 {
  position:absolute;
  left:466px;
  top:835px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2139 {
  position:absolute;
  left:132px;
  top:867px;
  width:89px;
  height:100px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2141 {
  position:absolute;
  left:300px;
  top:867px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2143 {
  position:absolute;
  left:466px;
  top:867px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2145 {
  position:absolute;
  left:670px;
  top:858px;
  width:358px;
  height:82px;
  font-size:14px;
  color:#FFFFFF;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2147 {
  position:absolute;
  left:668px;
  top:835px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2148 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2149 {
  position:absolute;
  left:670px;
  top:940px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2151 {
  position:absolute;
  left:673px;
  top:963px;
  width:16px;
  height:16px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2153 {
  position:absolute;
  left:706px;
  top:963px;
  width:16px;
  height:16px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2155 {
  position:absolute;
  left:737px;
  top:963px;
  width:16px;
  height:16px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u2157 {
  position:absolute;
  left:842px;
  top:950px;
  width:50px;
  height:33px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u2159 {
  position:absolute;
  left:902px;
  top:950px;
  width:50px;
  height:33px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u2161 {
  position:absolute;
  left:962px;
  top:950px;
  width:50px;
  height:33px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2163 {
  position:absolute;
  left:278px;
  top:1010px;
  width:300px;
  height:15px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2165 {
  position:absolute;
  left:675px;
  top:1011px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2167 {
  position:absolute;
  left:712px;
  top:1009px;
  width:16px;
  height:16px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2169 {
  position:absolute;
  left:738px;
  top:1009px;
  width:16px;
  height:16px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2171 {
  position:absolute;
  left:764px;
  top:1009px;
  width:16px;
  height:16px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2173 {
  position:absolute;
  left:790px;
  top:1009px;
  width:16px;
  height:16px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2175 {
  position:absolute;
  left:816px;
  top:1009px;
  width:16px;
  height:16px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2177 {
  position:absolute;
  left:842px;
  top:1009px;
  width:16px;
  height:16px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u2179 {
  position:absolute;
  left:133px;
  top:106px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u2180 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u2181 {
  position:absolute;
  left:155px;
  top:148px;
  width:73px;
  height:18px;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  position:absolute;
  left:949px;
  top:151px;
  width:78px;
  height:15px;
}
#u2184 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:15px;
}
#u2185 {
  position:absolute;
  left:272px;
  top:200px;
  width:599px;
  height:15px;
}
#u2186 {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u2187 {
  position:absolute;
  left:179px;
  top:200px;
  width:39px;
  height:15px;
}
#u2188 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u2189 {
  position:absolute;
  left:791px;
  top:193px;
  width:65px;
  height:22px;
  text-align:center;
}
#u2190 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u2191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2191 {
  position:absolute;
  left:175px;
  top:236px;
  width:52px;
  height:15px;
  color:#999999;
}
#u2192 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2193 {
  position:absolute;
  left:227px;
  top:239px;
  width:12px;
  height:12px;
  color:#CCCCCC;
}
#u2194 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u2195 {
  position:absolute;
  left:155px;
  top:286px;
  width:59px;
  height:18px;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:2px;
}
#u2197 {
  position:absolute;
  left:131px;
  top:268px;
  width:921px;
  height:1px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:2px;
}
#u2199 {
  position:absolute;
  left:133px;
  top:382px;
  width:921px;
  height:1px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:-8px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2201 {
  position:absolute;
  left:155px;
  top:340px;
  width:92px;
  height:22px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u2203 {
  position:absolute;
  left:155px;
  top:401px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2205 {
  position:absolute;
  left:175px;
  top:439px;
  width:52px;
  height:15px;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  position:absolute;
  left:175px;
  top:464px;
  width:141px;
  height:22px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:2px;
  width:137px;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:15px;
}
#u2209 {
  position:absolute;
  left:175px;
  top:506px;
  width:237px;
  height:15px;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:170px;
}
#u2211 {
  position:absolute;
  left:457px;
  top:401px;
  width:586px;
  height:170px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:77px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:52px;
}
#u2213 {
  position:absolute;
  left:462px;
  top:416px;
  width:83px;
  height:51px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2215 {
  position:absolute;
  left:566px;
  top:427px;
  width:300px;
  height:30px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u2217 {
  position:absolute;
  left:899px;
  top:427px;
  width:33px;
  height:15px;
}
#u2218 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2219 {
  position:absolute;
  left:959px;
  top:427px;
  width:14px;
  height:15px;
}
#u2220 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:52px;
}
#u2221 {
  position:absolute;
  left:462px;
  top:488px;
  width:83px;
  height:51px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2223 {
  position:absolute;
  left:566px;
  top:499px;
  width:300px;
  height:30px;
}
#u2224 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u2225 {
  position:absolute;
  left:899px;
  top:499px;
  width:39px;
  height:15px;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2227 {
  position:absolute;
  left:959px;
  top:499px;
  width:14px;
  height:15px;
}
#u2228 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u2229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:15px;
}
#u2229 {
  position:absolute;
  left:859px;
  top:609px;
  width:184px;
  height:15px;
}
#u2230 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u2231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u2231 {
  position:absolute;
  left:963px;
  top:634px;
  width:80px;
  height:15px;
}
#u2232 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u2233 {
  position:absolute;
  left:921px;
  top:674px;
  width:65px;
  height:15px;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u2235 {
  position:absolute;
  left:986px;
  top:670px;
  width:65px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2236 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2237 {
  position:absolute;
  left:919px;
  top:719px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2238 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:71px;
}
#u2240 {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:71px;
}
#u2241 {
  position:absolute;
  left:2px;
  top:28px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:71px;
}
#u2242 {
  position:absolute;
  left:131px;
  top:0px;
  width:120px;
  height:70px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:28px;
  width:116px;
  word-wrap:break-word;
}
#u2244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:2px;
}
#u2244 {
  position:absolute;
  left:131px;
  top:70px;
  width:919px;
  height:1px;
}
#u2245 {
  position:absolute;
  left:2px;
  top:-8px;
  width:915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246 {
  position:absolute;
  left:797px;
  top:31px;
  width:139px;
  height:23px;
}
#u2246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2246_input {
  font-family:'Microsoft YaHei UI';
}
#u2247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2247 {
  position:absolute;
  left:936px;
  top:31px;
  width:64px;
  height:23px;
  color:#FFFFFF;
}
#u2248 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2249 {
  position:absolute;
  left:261px;
  top:21px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2250 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
