body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u6324 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u6325 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u6326 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u6327 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u6328 {
  position:absolute;
  left:68px;
  top:12px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u6329 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6330 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u6331 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u6332 {
  position:absolute;
  left:131px;
  top:311px;
  width:50px;
  height:39px;
}
#u6333 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6334 {
  position:absolute;
  left:191px;
  top:321px;
  width:65px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6335 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u6336 {
  position:absolute;
  left:131px;
  top:383px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u6337 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6338 {
  position:absolute;
  left:256px;
  top:380px;
  width:247px;
  height:25px;
}
#u6338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6338_input {
  font-family:'Microsoft YaHei UI';
}
#u6339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
}
#u6339 {
  position:absolute;
  left:131px;
  top:425px;
  width:71px;
  height:19px;
  font-size:16px;
}
#u6340 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6341 {
  position:absolute;
  left:256px;
  top:422px;
  width:247px;
  height:25px;
}
#u6341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6341_input {
  font-family:'Microsoft YaHei UI';
}
#u6342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6342 {
  position:absolute;
  left:131px;
  top:509px;
  width:372px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6343 {
  position:absolute;
  left:2px;
  top:11px;
  width:368px;
  word-wrap:break-word;
}
#u6344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6344 {
  position:absolute;
  left:51px;
  top:196px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6345 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:66px;
}
#u6346 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:66px;
  opacity:0.5;
}
#u6347 {
  position:absolute;
  left:2px;
  top:25px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6348 {
  position:absolute;
  left:263px;
  top:200px;
  width:100px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6349 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6350 {
  position:absolute;
  left:265px;
  top:772px;
  width:87px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6351 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u6352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u6352 {
  position:absolute;
  left:205px;
  top:764px;
  width:50px;
  height:38px;
}
#u6353 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:42px;
}
#u6354 {
  position:absolute;
  left:205px;
  top:618px;
  width:32px;
  height:42px;
}
#u6355 {
  position:absolute;
  left:2px;
  top:13px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6356 {
  position:absolute;
  left:256px;
  top:628px;
  width:183px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6357 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u6358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6358 {
  position:absolute;
  left:205px;
  top:696px;
  width:32px;
  height:32px;
}
#u6359 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6360 {
  position:absolute;
  left:258px;
  top:701px;
  width:165px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6361 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
