body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1018px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:75px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:75px;
}
#u1 {
  position:absolute;
  left:2px;
  top:30px;
  width:1014px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:247px;
  top:74px;
  width:12px;
  height:639px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:639px;
}
#u3 {
  position:absolute;
  left:2px;
  top:312px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:920px;
  top:4px;
  width:95px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:18px;
  top:10px;
  width:46px;
  height:52px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:52px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:71px;
  top:13px;
  width:129px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:918px;
  top:84px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:75px;
  width:10px;
  height:637px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:637px;
}
#u13 {
  position:absolute;
  left:2px;
  top:310px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1008px;
  top:75px;
  width:10px;
  height:637px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:637px;
}
#u15 {
  position:absolute;
  left:2px;
  top:310px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:75px;
  width:237px;
  height:636px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:636px;
}
#u17 {
  position:absolute;
  left:2px;
  top:310px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:247px;
  top:310px;
  width:13px;
  height:76px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:76px;
}
#u19 {
  position:absolute;
  left:2px;
  top:30px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:88px;
  top:204px;
  width:53px;
  height:16px;
  color:#3F6CA5;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:20px;
  top:220px;
  width:210px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u23 {
  position:absolute;
  left:20px;
  top:240px;
  width:130px;
  height:16px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:88px;
  top:324px;
  width:79px;
  height:16px;
  color:#3F6CA5;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:360px;
  width:77px;
  height:16px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:20px;
  top:343px;
  width:210px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u30 {
  position:absolute;
  left:20px;
  top:386px;
  width:77px;
  height:16px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:20px;
  top:412px;
  width:77px;
  height:16px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:20px;
  top:438px;
  width:90px;
  height:16px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:464px;
  width:77px;
  height:16px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:16px;
  top:670px;
  width:81px;
  height:30px;
  font-size:12px;
  color:#0000FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:711px;
  width:1018px;
  height:29px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:29px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:1014px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:390px;
  top:715px;
  width:218px;
  height:21px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:21px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:260px;
  top:75px;
  width:755px;
  height:187px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:187px;
}
#u45 {
  position:absolute;
  left:2px;
  top:86px;
  width:751px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:998px;
  top:180px;
  width:16px;
  height:510px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:510px;
}
#u47 {
  position:absolute;
  left:2px;
  top:247px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:993px;
  top:684px;
  width:23px;
  height:31px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:31px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:426px;
  top:166px;
  width:146px;
  height:91px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:91px;
}
#u51 {
  position:absolute;
  left:2px;
  top:38px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:923px;
  top:49px;
  width:66px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
