body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5899 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u5900 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u5901 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u5902 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u5903 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u5904 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u5905 {
  position:absolute;
  left:70px;
  top:14px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u5906 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:910px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5907 {
  position:absolute;
  left:40px;
  top:238px;
  width:546px;
  height:910px;
}
#u5908 {
  position:absolute;
  left:2px;
  top:447px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5909 {
  position:absolute;
  left:51px;
  top:196px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5910 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:66px;
}
#u5911 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:66px;
  opacity:0.5;
}
#u5912 {
  position:absolute;
  left:2px;
  top:25px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:38px;
}
#u5913 {
  position:absolute;
  left:40px;
  top:244px;
  width:546px;
  height:38px;
}
#u5914 {
  position:absolute;
  left:2px;
  top:11px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5915 {
  position:absolute;
  left:263px;
  top:200px;
  width:100px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5916 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u5917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5917 {
  position:absolute;
  left:70px;
  top:254px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5918 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:207px;
}
#u5919 {
  position:absolute;
  left:51px;
  top:292px;
  width:524px;
  height:207px;
}
#u5920 {
  position:absolute;
  left:2px;
  top:96px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5921 {
  position:absolute;
  left:66px;
  top:298px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5922 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5923 {
  position:absolute;
  left:543px;
  top:195px;
  width:32px;
  height:32px;
}
#u5924 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5925 {
  position:absolute;
  left:491px;
  top:195px;
  width:32px;
  height:32px;
}
#u5926 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5927 {
  position:absolute;
  left:166px;
  top:254px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u5928 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5929 {
  position:absolute;
  left:277px;
  top:254px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u5930 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5931 {
  position:absolute;
  left:389px;
  top:254px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u5932 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5933 {
  position:absolute;
  left:500px;
  top:254px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u5934 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5935_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:61px;
  height:5px;
}
#u5935 {
  position:absolute;
  left:57px;
  top:280px;
  width:58px;
  height:2px;
}
#u5936 {
  position:absolute;
  left:2px;
  top:-7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5937 {
  position:absolute;
  left:525px;
  top:308px;
  width:16px;
  height:16px;
}
#u5938 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5939 {
  position:absolute;
  left:57px;
  top:334px;
  width:492px;
  height:87px;
}
#u5940 {
  position:absolute;
  left:2px;
  top:36px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:88px;
}
#u5941 {
  position:absolute;
  left:57px;
  top:334px;
  width:105px;
  height:87px;
}
#u5942 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
}
#u5943 {
  position:absolute;
  left:172px;
  top:344px;
  width:380px;
  height:35px;
  font-size:14px;
}
#u5944 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u5945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u5945 {
  position:absolute;
  left:172px;
  top:389px;
  width:93px;
  height:23px;
}
#u5946 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u5947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u5947 {
  position:absolute;
  left:376px;
  top:431px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u5948 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u5949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5949 {
  position:absolute;
  left:311px;
  top:459px;
  width:103px;
  height:32px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3300;
}
#u5951 {
  position:absolute;
  left:438px;
  top:459px;
  width:103px;
  height:32px;
  color:#CC3300;
}
#u5952 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u5953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:207px;
}
#u5953 {
  position:absolute;
  left:51px;
  top:501px;
  width:524px;
  height:207px;
}
#u5954 {
  position:absolute;
  left:2px;
  top:96px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5955 {
  position:absolute;
  left:66px;
  top:507px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5957 {
  position:absolute;
  left:525px;
  top:517px;
  width:16px;
  height:16px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5959 {
  position:absolute;
  left:57px;
  top:543px;
  width:492px;
  height:87px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:36px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:88px;
}
#u5961 {
  position:absolute;
  left:57px;
  top:543px;
  width:105px;
  height:87px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
}
#u5963 {
  position:absolute;
  left:172px;
  top:553px;
  width:380px;
  height:35px;
  font-size:14px;
}
#u5964 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u5965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u5965 {
  position:absolute;
  left:172px;
  top:598px;
  width:93px;
  height:23px;
}
#u5966 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u5967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u5967 {
  position:absolute;
  left:376px;
  top:640px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u5968 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5969 {
  position:absolute;
  left:311px;
  top:668px;
  width:103px;
  height:32px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3300;
}
#u5971 {
  position:absolute;
  left:438px;
  top:668px;
  width:103px;
  height:32px;
  color:#CC3300;
}
#u5972 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u5973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:207px;
}
#u5973 {
  position:absolute;
  left:51px;
  top:717px;
  width:524px;
  height:207px;
}
#u5974 {
  position:absolute;
  left:2px;
  top:96px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5975 {
  position:absolute;
  left:66px;
  top:724px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5976 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5977 {
  position:absolute;
  left:525px;
  top:734px;
  width:16px;
  height:16px;
}
#u5978 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5979 {
  position:absolute;
  left:57px;
  top:760px;
  width:492px;
  height:87px;
}
#u5980 {
  position:absolute;
  left:2px;
  top:36px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:88px;
}
#u5981 {
  position:absolute;
  left:57px;
  top:771px;
  width:105px;
  height:87px;
}
#u5982 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
}
#u5983 {
  position:absolute;
  left:172px;
  top:770px;
  width:380px;
  height:35px;
  font-size:14px;
}
#u5984 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u5985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u5985 {
  position:absolute;
  left:172px;
  top:815px;
  width:93px;
  height:23px;
}
#u5986 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u5987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u5987 {
  position:absolute;
  left:376px;
  top:857px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u5988 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u5989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3300;
}
#u5989 {
  position:absolute;
  left:438px;
  top:885px;
  width:103px;
  height:32px;
  color:#CC3300;
}
#u5990 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u5991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:207px;
}
#u5991 {
  position:absolute;
  left:51px;
  top:934px;
  width:524px;
  height:207px;
}
#u5992 {
  position:absolute;
  left:2px;
  top:96px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5993 {
  position:absolute;
  left:66px;
  top:940px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5994 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5995 {
  position:absolute;
  left:525px;
  top:950px;
  width:16px;
  height:16px;
}
#u5996 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5997 {
  position:absolute;
  left:57px;
  top:976px;
  width:492px;
  height:87px;
}
#u5998 {
  position:absolute;
  left:2px;
  top:36px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:88px;
}
#u5999 {
  position:absolute;
  left:57px;
  top:976px;
  width:105px;
  height:87px;
}
#u6000 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
}
#u6001 {
  position:absolute;
  left:172px;
  top:986px;
  width:380px;
  height:35px;
  font-size:14px;
}
#u6002 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u6003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u6003 {
  position:absolute;
  left:172px;
  top:1031px;
  width:93px;
  height:23px;
}
#u6004 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u6005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u6005 {
  position:absolute;
  left:376px;
  top:1073px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u6006 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u6007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3300;
}
#u6007 {
  position:absolute;
  left:438px;
  top:1101px;
  width:103px;
  height:32px;
  color:#CC3300;
}
#u6008 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
