body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6083 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u6084 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u6085 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u6086 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u6087 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u6088 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u6089 {
  position:absolute;
  left:70px;
  top:14px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u6090 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:910px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6091 {
  position:absolute;
  left:40px;
  top:238px;
  width:546px;
  height:910px;
}
#u6092 {
  position:absolute;
  left:2px;
  top:447px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6093 {
  position:absolute;
  left:51px;
  top:196px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6094 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:66px;
}
#u6095 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:66px;
  opacity:0.5;
}
#u6096 {
  position:absolute;
  left:2px;
  top:25px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:38px;
}
#u6097 {
  position:absolute;
  left:40px;
  top:244px;
  width:546px;
  height:38px;
}
#u6098 {
  position:absolute;
  left:2px;
  top:11px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6099 {
  position:absolute;
  left:263px;
  top:200px;
  width:100px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6100 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6101 {
  position:absolute;
  left:70px;
  top:254px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6102 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6103 {
  position:absolute;
  left:543px;
  top:195px;
  width:32px;
  height:32px;
}
#u6104 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6105 {
  position:absolute;
  left:491px;
  top:195px;
  width:32px;
  height:32px;
}
#u6106 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6107 {
  position:absolute;
  left:197px;
  top:254px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u6108 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6109 {
  position:absolute;
  left:340px;
  top:254px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u6110 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6111 {
  position:absolute;
  left:483px;
  top:254px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u6112 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u6113 {
  position:absolute;
  left:237px;
  top:513px;
  width:129px;
  height:15px;
}
#u6114 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u6115 {
  position:absolute;
  left:152px;
  top:333px;
  width:300px;
  height:170px;
}
#u6116 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
