body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:71px;
}
#u2252 {
  position:absolute;
  left:0px;
  top:70px;
  width:1140px;
  height:71px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:28px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:70px;
  background:inherit;
  background-color:rgba(39, 189, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:70px;
}
#u2255 {
  position:absolute;
  left:10px;
  top:10px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2256 {
  position:absolute;
  left:933px;
  top:7px;
  width:98px;
  height:57px;
}
#u2257 {
  position:absolute;
  left:2px;
  top:20px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:72px;
}
#u2258 {
  position:absolute;
  left:112px;
  top:70px;
  width:200px;
  height:71px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2260 {
  position:absolute;
  left:811px;
  top:14px;
  width:107px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u2262 {
  position:absolute;
  left:945px;
  top:14px;
  width:50px;
  height:44px;
  color:#27BDBE;
}
#u2263 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#27BDBE;
}
#u2264 {
  position:absolute;
  left:1005px;
  top:22px;
  width:15px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#27BDBE;
}
#u2265 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2266 {
  position:absolute;
  left:780px;
  top:39px;
  width:82px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u2268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2268 {
  position:absolute;
  left:112px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2270 {
  position:absolute;
  left:313px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2272 {
  position:absolute;
  left:414px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2273 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2274 {
  position:absolute;
  left:514px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2276 {
  position:absolute;
  left:212px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u2278 {
  position:absolute;
  left:870px;
  top:39px;
  width:54px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:2px;
}
#u2280 {
  position:absolute;
  left:112px;
  top:140px;
  width:919px;
  height:1px;
}
#u2281 {
  position:absolute;
  left:2px;
  top:-8px;
  width:915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282 {
  position:absolute;
  left:632px;
  top:92px;
  width:315px;
  height:38px;
}
#u2282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2282_input {
  font-family:'Microsoft YaHei UI';
}
#u2283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2283 {
  position:absolute;
  left:635px;
  top:96px;
  width:28px;
  height:28px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2285 {
  position:absolute;
  left:947px;
  top:92px;
  width:84px;
  height:38px;
  color:#FFFFFF;
}
#u2286 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u2288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:199px;
  background:inherit;
  background-color:rgba(39, 189, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2288 {
  position:absolute;
  left:0px;
  top:499px;
  width:1140px;
  height:199px;
}
#u2289 {
  position:absolute;
  left:10px;
  top:10px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2290 {
  position:absolute;
  left:132px;
  top:534px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2291 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2292 {
  position:absolute;
  left:300px;
  top:534px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2294 {
  position:absolute;
  left:466px;
  top:534px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2295 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2296 {
  position:absolute;
  left:132px;
  top:566px;
  width:89px;
  height:100px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2297 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u2298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2298 {
  position:absolute;
  left:300px;
  top:566px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2299 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2300 {
  position:absolute;
  left:466px;
  top:566px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u2301 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2302 {
  position:absolute;
  left:670px;
  top:557px;
  width:358px;
  height:82px;
  font-size:14px;
  color:#FFFFFF;
}
#u2303 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2304 {
  position:absolute;
  left:668px;
  top:534px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2305 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2306 {
  position:absolute;
  left:670px;
  top:639px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2308 {
  position:absolute;
  left:673px;
  top:662px;
  width:16px;
  height:16px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2310 {
  position:absolute;
  left:706px;
  top:662px;
  width:16px;
  height:16px;
}
#u2311 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2312 {
  position:absolute;
  left:737px;
  top:662px;
  width:16px;
  height:16px;
}
#u2313 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u2314 {
  position:absolute;
  left:842px;
  top:649px;
  width:50px;
  height:33px;
}
#u2315 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u2316 {
  position:absolute;
  left:902px;
  top:649px;
  width:50px;
  height:33px;
}
#u2317 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u2318 {
  position:absolute;
  left:962px;
  top:649px;
  width:50px;
  height:33px;
}
#u2319 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2320 {
  position:absolute;
  left:278px;
  top:709px;
  width:300px;
  height:15px;
}
#u2321 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2322 {
  position:absolute;
  left:675px;
  top:710px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u2323 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2324 {
  position:absolute;
  left:712px;
  top:708px;
  width:16px;
  height:16px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2326 {
  position:absolute;
  left:738px;
  top:708px;
  width:16px;
  height:16px;
}
#u2327 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2328 {
  position:absolute;
  left:764px;
  top:708px;
  width:16px;
  height:16px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2330 {
  position:absolute;
  left:790px;
  top:708px;
  width:16px;
  height:16px;
}
#u2331 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2332 {
  position:absolute;
  left:816px;
  top:708px;
  width:16px;
  height:16px;
}
#u2333 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2334 {
  position:absolute;
  left:842px;
  top:708px;
  width:16px;
  height:16px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u2336 {
  position:absolute;
  left:116px;
  top:175px;
  width:65px;
  height:15px;
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u2338 {
  position:absolute;
  left:181px;
  top:171px;
  width:65px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2339 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:211px;
}
#u2340 {
  position:absolute;
  left:116px;
  top:232px;
  width:326px;
  height:211px;
}
#u2341 {
  position:absolute;
  left:2px;
  top:98px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342 {
  position:absolute;
  left:110px;
  top:159px;
  width:836px;
  height:298px;
  overflow:hidden;
}
#u2342_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:298px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2342_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2343 {
  position:absolute;
  left:275px;
  top:112px;
  width:283px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2344 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
