body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1134px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:70px;
}
#u3352 {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:70px;
}
#u3353 {
  position:absolute;
  left:2px;
  top:27px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:71px;
}
#u3354 {
  position:absolute;
  left:131px;
  top:0px;
  width:120px;
  height:70px;
}
#u3355 {
  position:absolute;
  left:2px;
  top:28px;
  width:116px;
  word-wrap:break-word;
}
#u3356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:2px;
}
#u3356 {
  position:absolute;
  left:131px;
  top:69px;
  width:919px;
  height:1px;
}
#u3357 {
  position:absolute;
  left:2px;
  top:-8px;
  width:915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3358 {
  position:absolute;
  left:680px;
  top:17px;
  width:139px;
  height:38px;
}
#u3358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3358_input {
  font-family:'Microsoft YaHei UI';
}
#u3359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3359 {
  position:absolute;
  left:819px;
  top:17px;
  width:84px;
  height:38px;
  color:#FFFFFF;
}
#u3360 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u3361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3361 {
  position:absolute;
  left:935px;
  top:8px;
  width:98px;
  height:57px;
}
#u3362 {
  position:absolute;
  left:2px;
  top:20px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u3363 {
  position:absolute;
  left:947px;
  top:15px;
  width:50px;
  height:44px;
  color:#27BDBE;
}
#u3364 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#27BDBE;
}
#u3365 {
  position:absolute;
  left:1007px;
  top:23px;
  width:15px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#27BDBE;
}
#u3366 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3367 {
  position:absolute;
  left:365px;
  top:25px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u3368 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3369 {
  position:absolute;
  left:504px;
  top:26px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u3370 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:8px;
}
#u3371 {
  position:absolute;
  left:468px;
  top:31px;
  width:16px;
  height:8px;
}
#u3372 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3373 {
  position:absolute;
  left:436px;
  top:25px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u3374 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:8px;
}
#u3375 {
  position:absolute;
  left:399px;
  top:31px;
  width:16px;
  height:8px;
}
#u3376 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3377 {
  position:absolute;
  left:537px;
  top:23px;
  width:16px;
  height:16px;
}
#u3378 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u3379 {
  position:absolute;
  left:542px;
  top:24px;
  width:13px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u3380 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u3382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:199px;
  background:inherit;
  background-color:rgba(39, 189, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3382 {
  position:absolute;
  left:-6px;
  top:576px;
  width:1140px;
  height:199px;
}
#u3383 {
  position:absolute;
  left:10px;
  top:10px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3384 {
  position:absolute;
  left:126px;
  top:611px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3385 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u3386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3386 {
  position:absolute;
  left:294px;
  top:611px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3387 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u3388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3388 {
  position:absolute;
  left:460px;
  top:611px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3389 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u3390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3390 {
  position:absolute;
  left:126px;
  top:643px;
  width:89px;
  height:100px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3391 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u3392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3392 {
  position:absolute;
  left:294px;
  top:643px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3393 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u3394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3394 {
  position:absolute;
  left:460px;
  top:643px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3395 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u3396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3396 {
  position:absolute;
  left:664px;
  top:634px;
  width:358px;
  height:82px;
  font-size:14px;
  color:#FFFFFF;
}
#u3397 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u3398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3398 {
  position:absolute;
  left:662px;
  top:611px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3399 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u3400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3400 {
  position:absolute;
  left:664px;
  top:716px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3401 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u3402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3402 {
  position:absolute;
  left:667px;
  top:739px;
  width:16px;
  height:16px;
}
#u3403 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3404 {
  position:absolute;
  left:700px;
  top:739px;
  width:16px;
  height:16px;
}
#u3405 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3406 {
  position:absolute;
  left:731px;
  top:739px;
  width:16px;
  height:16px;
}
#u3407 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u3408 {
  position:absolute;
  left:836px;
  top:726px;
  width:50px;
  height:33px;
}
#u3409 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u3410 {
  position:absolute;
  left:896px;
  top:726px;
  width:50px;
  height:33px;
}
#u3411 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u3412 {
  position:absolute;
  left:956px;
  top:726px;
  width:50px;
  height:33px;
}
#u3413 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3414 {
  position:absolute;
  left:272px;
  top:786px;
  width:300px;
  height:15px;
}
#u3415 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3416 {
  position:absolute;
  left:669px;
  top:787px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u3417 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u3418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3418 {
  position:absolute;
  left:706px;
  top:785px;
  width:16px;
  height:16px;
}
#u3419 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3420 {
  position:absolute;
  left:732px;
  top:785px;
  width:16px;
  height:16px;
}
#u3421 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3422 {
  position:absolute;
  left:758px;
  top:785px;
  width:16px;
  height:16px;
}
#u3423 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3424 {
  position:absolute;
  left:784px;
  top:785px;
  width:16px;
  height:16px;
}
#u3425 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3426 {
  position:absolute;
  left:810px;
  top:785px;
  width:16px;
  height:16px;
}
#u3427 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3428 {
  position:absolute;
  left:836px;
  top:785px;
  width:16px;
  height:16px;
}
#u3429 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:469px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3430 {
  position:absolute;
  left:256px;
  top:89px;
  width:796px;
  height:469px;
}
#u3431 {
  position:absolute;
  left:2px;
  top:226px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
}
#u3432 {
  position:absolute;
  left:278px;
  top:104px;
  width:106px;
  height:18px;
}
#u3433 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u3434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:2px;
}
#u3434 {
  position:absolute;
  left:278px;
  top:127px;
  width:727px;
  height:1px;
}
#u3435 {
  position:absolute;
  left:2px;
  top:-8px;
  width:723px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3436 {
  position:absolute;
  left:278px;
  top:128px;
  width:727px;
  height:28px;
}
#u3437 {
  position:absolute;
  left:2px;
  top:6px;
  width:723px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
}
#u3438 {
  position:absolute;
  left:286px;
  top:132px;
  width:94px;
  height:15px;
}
#u3439 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u3440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u3440 {
  position:absolute;
  left:430px;
  top:132px;
  width:52px;
  height:15px;
}
#u3441 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u3442 {
  position:absolute;
  left:544px;
  top:132px;
  width:52px;
  height:15px;
}
#u3443 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:15px;
}
#u3444 {
  position:absolute;
  left:286px;
  top:166px;
  width:138px;
  height:15px;
}
#u3445 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u3446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u3446 {
  position:absolute;
  left:424px;
  top:166px;
  width:87px;
  height:15px;
}
#u3447 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u3448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u3448 {
  position:absolute;
  left:739px;
  top:166px;
  width:67px;
  height:15px;
}
#u3449 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3450 {
  position:absolute;
  left:830px;
  top:526px;
  width:50px;
  height:17px;
  font-size:12px;
}
#u3451 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3452 {
  position:absolute;
  left:955px;
  top:526px;
  width:50px;
  height:17px;
  font-size:12px;
}
#u3453 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
}
#u3454 {
  position:absolute;
  left:890px;
  top:526px;
  width:58px;
  height:14px;
  font-size:12px;
}
#u3455 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u3456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u3456 {
  position:absolute;
  left:727px;
  top:132px;
  width:52px;
  height:15px;
}
#u3457 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u3458 {
  position:absolute;
  left:828px;
  top:132px;
  width:52px;
  height:15px;
}
#u3459 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u3460 {
  position:absolute;
  left:914px;
  top:132px;
  width:27px;
  height:15px;
}
#u3461 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:31px;
}
#u3462 {
  position:absolute;
  left:517px;
  top:157px;
  width:212px;
  height:31px;
}
#u3463 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u3464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u3464 {
  position:absolute;
  left:828px;
  top:166px;
  width:39px;
  height:15px;
}
#u3465 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u3466 {
  position:absolute;
  left:898px;
  top:166px;
  width:87px;
  height:15px;
}
#u3467 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:15px;
}
#u3468 {
  position:absolute;
  left:286px;
  top:207px;
  width:138px;
  height:15px;
}
#u3469 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u3470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u3470 {
  position:absolute;
  left:424px;
  top:207px;
  width:87px;
  height:15px;
}
#u3471 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u3472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u3472 {
  position:absolute;
  left:739px;
  top:207px;
  width:67px;
  height:15px;
}
#u3473 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:31px;
}
#u3474 {
  position:absolute;
  left:517px;
  top:198px;
  width:212px;
  height:31px;
}
#u3475 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u3476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u3476 {
  position:absolute;
  left:828px;
  top:207px;
  width:39px;
  height:15px;
}
#u3477 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u3478 {
  position:absolute;
  left:898px;
  top:207px;
  width:27px;
  height:15px;
}
#u3479 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3481 {
  position:absolute;
  left:134px;
  top:89px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3482 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3483 {
  position:absolute;
  left:144px;
  top:117px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u3484 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3485 {
  position:absolute;
  left:144px;
  top:141px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u3486 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3487 {
  position:absolute;
  left:134px;
  top:190px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3488 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u3489 {
  position:absolute;
  left:144px;
  top:218px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u3490 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3491 {
  position:absolute;
  left:144px;
  top:242px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u3492 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3493 {
  position:absolute;
  left:134px;
  top:291px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3494 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3495 {
  position:absolute;
  left:144px;
  top:319px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u3496 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3497 {
  position:absolute;
  left:134px;
  top:367px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3498 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3499 {
  position:absolute;
  left:144px;
  top:395px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u3500 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CC3300;
}
#u3501 {
  position:absolute;
  left:145px;
  top:393px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CC3300;
}
#u3502 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
