body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:49px;
  width:1026px;
  height:607px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:607px;
}
#u1 {
  position:absolute;
  left:2px;
  top:296px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:655px;
  width:1026px;
  height:23px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:23px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:345px;
  top:660px;
  width:334px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  white-space:nowrap;
}
