body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:666px;
}
#u1195 {
  position:absolute;
  left:0px;
  top:611px;
  width:1140px;
  height:666px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:325px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  position:absolute;
  left:691px;
  top:425px;
  width:35px;
  height:28px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:71px;
}
#u1200 {
  position:absolute;
  left:0px;
  top:70px;
  width:1140px;
  height:71px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:28px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:70px;
  background:inherit;
  background-color:rgba(39, 189, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:70px;
}
#u1203 {
  position:absolute;
  left:10px;
  top:10px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  position:absolute;
  left:933px;
  top:7px;
  width:98px;
  height:57px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:20px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:72px;
}
#u1206 {
  position:absolute;
  left:112px;
  top:70px;
  width:200px;
  height:71px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1208 {
  position:absolute;
  left:811px;
  top:14px;
  width:107px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1209 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u1210 {
  position:absolute;
  left:945px;
  top:14px;
  width:50px;
  height:44px;
  color:#27BDBE;
}
#u1211 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#27BDBE;
}
#u1212 {
  position:absolute;
  left:1005px;
  top:22px;
  width:15px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#27BDBE;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1214 {
  position:absolute;
  left:780px;
  top:39px;
  width:82px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1215 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1216 {
  position:absolute;
  left:112px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1217 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1218 {
  position:absolute;
  left:313px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1220 {
  position:absolute;
  left:414px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1222 {
  position:absolute;
  left:514px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1223 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1224 {
  position:absolute;
  left:212px;
  top:14px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1225 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u1226 {
  position:absolute;
  left:870px;
  top:39px;
  width:54px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1228 {
  position:absolute;
  left:770px;
  top:103px;
  width:184px;
  height:25px;
}
#u1228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1228_input {
  font-family:'Microsoft YaHei UI';
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  position:absolute;
  left:964px;
  top:103px;
  width:67px;
  height:25px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u1231 {
  position:absolute;
  left:770px;
  top:83px;
  width:32px;
  height:16px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:812px;
  top:83px;
  width:142px;
  height:15px;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:2px;
}
#u1235 {
  position:absolute;
  left:112px;
  top:140px;
  width:919px;
  height:1px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:-8px;
  width:915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237 {
  position:absolute;
  left:336px;
  top:90px;
  width:315px;
  height:38px;
}
#u1237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1237_input {
  font-family:'Microsoft YaHei UI';
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1238 {
  position:absolute;
  left:339px;
  top:94px;
  width:28px;
  height:28px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1240 {
  position:absolute;
  left:651px;
  top:90px;
  width:84px;
  height:38px;
  color:#FFFFFF;
}
#u1241 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
}
#u1242 {
  position:absolute;
  left:112px;
  top:151px;
  width:300px;
  height:15px;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:70px;
}
#u1244 {
  position:absolute;
  left:613px;
  top:197px;
  width:418px;
  height:70px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
}
#u1246 {
  position:absolute;
  left:613px;
  top:252px;
  width:47px;
  height:14px;
  font-size:12px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
}
#u1248 {
  position:absolute;
  left:614px;
  top:310px;
  width:300px;
  height:38px;
  font-size:16px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:14px;
}
#u1250 {
  position:absolute;
  left:614px;
  top:310px;
  width:143px;
  height:14px;
  font-size:14px;
  line-height:14px;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:2px;
}
#u1252 {
  position:absolute;
  left:617px;
  top:317px;
  width:57px;
  height:1px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1254 {
  position:absolute;
  left:112px;
  top:197px;
  width:32px;
  height:32px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1256 {
  position:absolute;
  left:112px;
  top:239px;
  width:32px;
  height:32px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1258 {
  position:absolute;
  left:112px;
  top:281px;
  width:32px;
  height:32px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1260 {
  position:absolute;
  left:112px;
  top:323px;
  width:32px;
  height:32px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1262 {
  position:absolute;
  left:112px;
  top:365px;
  width:32px;
  height:32px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1264 {
  position:absolute;
  left:112px;
  top:407px;
  width:32px;
  height:32px;
}
#u1265 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:276px;
}
#u1266 {
  position:absolute;
  left:180px;
  top:202px;
  width:382px;
  height:275px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:130px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u1268 {
  position:absolute;
  left:767px;
  top:308px;
  width:20px;
  height:18px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u1270 {
  position:absolute;
  left:614px;
  top:433px;
  width:27px;
  height:15px;
}
#u1271 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u1272 {
  position:absolute;
  left:615px;
  top:396px;
  width:27px;
  height:15px;
  font-size:12px;
}
#u1273 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u1274 {
  position:absolute;
  left:691px;
  top:334px;
  width:50px;
  height:19px;
  font-size:16px;
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u1276 {
  position:absolute;
  left:614px;
  top:365px;
  width:32px;
  height:14px;
  font-size:12px;
}
#u1277 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1278 {
  position:absolute;
  left:726px;
  top:425px;
  width:41px;
  height:28px;
}
#u1278_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1278_input {
  font-family:'Microsoft YaHei UI';
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
}
#u1279 {
  position:absolute;
  left:700px;
  top:435px;
  width:16px;
  height:5px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  position:absolute;
  left:767px;
  top:425px;
  width:35px;
  height:28px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1283 {
  position:absolute;
  left:777px;
  top:431px;
  width:16px;
  height:16px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1285 {
  position:absolute;
  left:614px;
  top:471px;
  width:93px;
  height:40px;
  color:#FFFFFF;
}
#u1286 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1287 {
  position:absolute;
  left:691px;
  top:361px;
  width:92px;
  height:20px;
}
#u1287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1287_input {
  font-family:'Microsoft YaHei UI';
}
#u1287_input:disabled {
  color:grayText;
}
#u1288 {
  position:absolute;
  left:691px;
  top:393px;
  width:92px;
  height:20px;
}
#u1288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1288_input {
  font-family:'Microsoft YaHei UI';
}
#u1288_input:disabled {
  color:grayText;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u1289 {
  position:absolute;
  left:112px;
  top:619px;
  width:300px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:30px;
}
#u1291 {
  position:absolute;
  left:147px;
  top:830px;
  width:862px;
  height:30px;
}
#u1292 {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:148px;
}
#u1293 {
  position:absolute;
  left:147px;
  top:647px;
  width:862px;
  height:148px;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u1295 {
  position:absolute;
  left:112px;
  top:795px;
  width:300px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1296 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:2px;
}
#u1297 {
  position:absolute;
  left:112px;
  top:784px;
  width:897px;
  height:1px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:-8px;
  width:893px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:364px;
}
#u1299 {
  position:absolute;
  left:147px;
  top:883px;
  width:835px;
  height:363px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:174px;
  width:831px;
  word-wrap:break-word;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:199px;
  background:inherit;
  background-color:rgba(39, 189, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1302 {
  position:absolute;
  left:0px;
  top:1287px;
  width:1140px;
  height:199px;
}
#u1303 {
  position:absolute;
  left:10px;
  top:10px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1304 {
  position:absolute;
  left:132px;
  top:1322px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1306 {
  position:absolute;
  left:300px;
  top:1322px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1308 {
  position:absolute;
  left:466px;
  top:1322px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1310 {
  position:absolute;
  left:132px;
  top:1354px;
  width:89px;
  height:100px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1312 {
  position:absolute;
  left:300px;
  top:1354px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1314 {
  position:absolute;
  left:466px;
  top:1354px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1316 {
  position:absolute;
  left:670px;
  top:1345px;
  width:358px;
  height:82px;
  font-size:14px;
  color:#FFFFFF;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1318 {
  position:absolute;
  left:668px;
  top:1322px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1320 {
  position:absolute;
  left:670px;
  top:1427px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1322 {
  position:absolute;
  left:673px;
  top:1450px;
  width:16px;
  height:16px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1324 {
  position:absolute;
  left:706px;
  top:1450px;
  width:16px;
  height:16px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1326 {
  position:absolute;
  left:737px;
  top:1450px;
  width:16px;
  height:16px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u1328 {
  position:absolute;
  left:842px;
  top:1437px;
  width:50px;
  height:33px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u1330 {
  position:absolute;
  left:902px;
  top:1437px;
  width:50px;
  height:33px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u1332 {
  position:absolute;
  left:962px;
  top:1437px;
  width:50px;
  height:33px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1334 {
  position:absolute;
  left:278px;
  top:1497px;
  width:300px;
  height:15px;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1336 {
  position:absolute;
  left:675px;
  top:1498px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1338 {
  position:absolute;
  left:712px;
  top:1496px;
  width:16px;
  height:16px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1340 {
  position:absolute;
  left:738px;
  top:1496px;
  width:16px;
  height:16px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1342 {
  position:absolute;
  left:764px;
  top:1496px;
  width:16px;
  height:16px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1344 {
  position:absolute;
  left:790px;
  top:1496px;
  width:16px;
  height:16px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1346 {
  position:absolute;
  left:816px;
  top:1496px;
  width:16px;
  height:16px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1348 {
  position:absolute;
  left:842px;
  top:1496px;
  width:16px;
  height:16px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u1350 {
  position:absolute;
  left:777px;
  top:484px;
  width:27px;
  height:15px;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1352 {
  position:absolute;
  left:751px;
  top:484px;
  width:16px;
  height:16px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1354 {
  position:absolute;
  left:614px;
  top:271px;
  width:417px;
  height:29px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:6px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u1356 {
  position:absolute;
  left:641px;
  top:276px;
  width:52px;
  height:15px;
  color:#FFFF33;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1358 {
  position:absolute;
  left:619px;
  top:278px;
  width:16px;
  height:16px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u1360 {
  position:absolute;
  left:839px;
  top:276px;
  width:55px;
  height:15px;
  color:#FFFFFF;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
}
#u1362 {
  position:absolute;
  left:897px;
  top:276px;
  width:118px;
  height:15px;
  color:#FFFF33;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  height:54px;
}
#u1364 {
  position:absolute;
  left:112px;
  top:539px;
  width:1028px;
  height:54px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:19px;
  width:1024px;
  visibility:hidden;
  word-wrap:break-word;
}
