body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:32px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:32px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:30px;
  width:1350px;
  height:78px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:78px;
}
#u4 {
  position:absolute;
  left:2px;
  top:31px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1196px;
  top:0px;
  width:154px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:27px;
  width:150px;
  height:80px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u8 {
  position:absolute;
  left:2px;
  top:32px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1135px;
  top:63px;
  width:77px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#129BD3;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:204px;
  top:51px;
  width:129px;
  height:37px;
  color:#129BD3;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:890px;
  top:24px;
  width:460px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u14 {
  position:absolute;
  left:70px;
  top:4px;
  width:129px;
  height:15px;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:209px;
  top:4px;
  width:27px;
  height:15px;
  color:#0000FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:269px;
  top:5px;
  width:27px;
  height:15px;
  color:#0000FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:246px;
  top:5px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:905px;
  top:8px;
  width:73px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:995px;
  top:8px;
  width:60px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1065px;
  top:8px;
  width:53px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1135px;
  top:8px;
  width:53px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:20px;
  top:214px;
  width:138px;
  height:200px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:200px;
}
#u31 {
  position:absolute;
  left:2px;
  top:92px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:312px;
  top:220px;
  width:376px;
  height:28px;
  font-size:24px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:312px;
  top:324px;
  width:153px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:312px;
  top:468px;
  width:48px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:312px;
  top:371px;
  width:79px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:411px;
  top:368px;
  width:99px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:620px;
  width:1351px;
  height:140px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:140px;
}
#u43 {
  position:absolute;
  left:2px;
  top:62px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:590px;
  width:200px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:40px;
  top:630px;
  width:130px;
  height:70px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u47 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:260px;
  top:630px;
  width:130px;
  height:70px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u49 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:470px;
  top:630px;
  width:130px;
  height:70px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u51 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:239px;
  top:816px;
  width:1112px;
  height:730px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:730px;
}
#u53 {
  position:absolute;
  left:2px;
  top:357px;
  width:1108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:239px;
  top:786px;
  width:200px;
  height:30px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:439px;
  top:786px;
  width:200px;
  height:30px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:639px;
  top:786px;
  width:200px;
  height:30px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:1570px;
  width:1351px;
  height:173px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:173px;
}
#u62 {
  position:absolute;
  left:2px;
  top:78px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:82px;
  top:1620px;
  width:998px;
  height:123px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:123px;
}
#u64 {
  position:absolute;
  left:2px;
  top:54px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:401px;
  top:1620px;
  width:500px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:283px;
  top:1581px;
  width:63px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:383px;
  top:1581px;
  width:60px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:356px;
  top:1582px;
  width:10px;
  height:15px;
}
#u71_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u71_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u71_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u72 {
  position:absolute;
  left:479px;
  top:1581px;
  width:60px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:459px;
  top:1582px;
  width:10px;
  height:14px;
}
#u74_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u74_end {
  position:absolute;
  left:-5px;
  top:-3px;
  width:20px;
  height:18px;
}
#u74_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:14px;
}
#u75 {
  position:absolute;
  left:576px;
  top:1581px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:556px;
  top:1581px;
  width:10px;
  height:15px;
}
#u77_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u77_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u77_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u78 {
  position:absolute;
  left:683px;
  top:1581px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:663px;
  top:1582px;
  width:10px;
  height:15px;
}
#u80_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u80_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u80_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u81 {
  position:absolute;
  left:789px;
  top:1581px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:766px;
  top:1582px;
  width:10px;
  height:15px;
}
#u83_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u83_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u83_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u84 {
  position:absolute;
  left:996px;
  top:1581px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:869px;
  top:1582px;
  width:10px;
  height:15px;
}
#u86_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u86_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u86_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u87 {
  position:absolute;
  left:976px;
  top:1581px;
  width:10px;
  height:15px;
}
#u87_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u87_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u87_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u88 {
  position:absolute;
  left:889px;
  top:1581px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:239px;
  top:779px;
  width:200px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:3px;
  width:200px;
  height:4px;
}
#u91 {
  position:absolute;
  left:0px;
  top:786px;
  width:210px;
  height:30px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:816px;
  width:210px;
  height:622px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:622px;
}
#u94 {
  position:absolute;
  left:2px;
  top:303px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:108px;
  width:1350px;
  height:50px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:50px;
}
#u97 {
  position:absolute;
  left:2px;
  top:17px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:90px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:210px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:330px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:451px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:691px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:571px;
  top:115px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:18px;
  top:826px;
  width:165px;
  height:507px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:507px;
}
#u111 {
  position:absolute;
  left:2px;
  top:246px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:312px;
  top:282px;
  width:200px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:400px;
  top:868px;
  width:450px;
  height:649px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:649px;
}
#u115 {
  position:absolute;
  left:2px;
  top:316px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:40px;
  top:168px;
  width:176px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:980px;
  top:638px;
  width:200px;
  height:66px;
  font-size:14px;
  line-height:22px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:66px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:980px;
  top:714px;
  width:127px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:390px;
  top:463px;
  width:179px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u123 {
  position:absolute;
  left:2px;
  top:16px;
  width:175px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:412px;
  top:479px;
  width:20px;
  height:20px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:446px;
  top:150px;
  width:70px;
  height:8px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:8px;
}
#u127 {
  position:absolute;
  left:2px;
  top:-4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:26px;
  top:480px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:162px;
  top:480px;
  width:81px;
  height:16px;
  font-size:14px;
  color:#169BD5;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
